@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define a custom theme
$sct-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$sct-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$sct-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object
$sct-theme: mat.m2-define-light-theme((
  color: (
    primary: $sct-primary,
    accent: $sct-accent,
    warn: $sct-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

// Include theme styles for core and each component used in your app
@include mat.all-component-themes($sct-theme);

/* Global styles */
html, body { 
  height: 100%; 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add additional global styles below */
