<div class="dashboard-container">
  @switch (route) { @case ('/threat-incident-report') {
  <h2>Threat & Incident Readiness</h2>
  <iframe
    title="Threat & Incident Readiness"
    style="width: 100%; height: 80vh"
    src="https://app.powerbi.com/reportEmbed?reportId=495cbc0a-fa11-4125-a125-813c6a2161d0&appId=dffef4a0-74f8-4c8d-a451-e8207c7dbc6a&autoAuth=true&ctid=687f51c3-0c5d-4905-84f8-97c683a5b9d1&actionBarEnabled=true"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  } @case ('/identity-access') {
  <h2>Identity & Access</h2>
  <iframe
    title="Identity & Access"
    style="width: 100%; height: 80vh"
    src="https://app.powerbi.com/reportEmbed?reportId=0d940186-c56c-4ec5-8015-339d8432a8bc&appId=dffef4a0-74f8-4c8d-a451-e8207c7dbc6a&autoAuth=true&ctid=687f51c3-0c5d-4905-84f8-97c683a5b9d1&actionBarEnabled=true"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  } @case ('/asset-endpoint-security') {
  <h2>Asset & Endpoint Security</h2>
  <iframe
    title="Asset & Endpoint Security"
    style="width: 100%; height: 80vh"
    src="https://app.powerbi.com/reportEmbed?reportId=53480df1-95e7-48da-ae0d-26be0979d9d6&appId=dffef4a0-74f8-4c8d-a451-e8207c7dbc6a&autoAuth=true&ctid=687f51c3-0c5d-4905-84f8-97c683a5b9d1&actionBarEnabled=true"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  } @case ('/cloud-workload-security') {
  <h2>Cloud & Workload Security</h2>
  <iframe
    title="Cloud & Workload Security"
    style="width: 100%; height: 80vh"
    src="https://app.powerbi.com/reportEmbed?reportId=195df397-aa34-4298-ab1d-ff181552d2cd&appId=dffef4a0-74f8-4c8d-a451-e8207c7dbc6a&autoAuth=true&ctid=687f51c3-0c5d-4905-84f8-97c683a5b9d1&actionBarEnabled=true"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  } @case ('/compliance-governance') {
  <h2>Compliance & Governance</h2>
  <iframe
    title="Compliance & Governance"
    style="width: 100%; height: 80vh"
    src="https://app.powerbi.com/reportEmbed?reportId=49f5111b-e555-4044-9660-ca83a5c51420&appId=dffef4a0-74f8-4c8d-a451-e8207c7dbc6a&autoAuth=true&ctid=687f51c3-0c5d-4905-84f8-97c683a5b9d1&actionBarEnabled=true"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  } @case ('/network-security') {
  <h2>Network Security</h2>
  <iframe
    title="Network Security"
    style="width: 100%; height: 80vh"
    src="https://app.powerbi.com/reportEmbed?reportId=c30c5b7d-6c72-4d3c-845c-28ca5cf215f9&appId=dffef4a0-74f8-4c8d-a451-e8207c7dbc6a&autoAuth=true&ctid=687f51c3-0c5d-4905-84f8-97c683a5b9d1&actionBarEnabled=true"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  } @case ('/resilience-recovery') {
  <h2>Resilience & Recovery</h2>
  <iframe
    title="Resilience & Recovery"
    style="width: 100%; height: 80vh"
    src="https://app.powerbi.com/reportEmbed?reportId=1ea2df12-7e30-46c1-9452-8f5a9c002f19&appId=dffef4a0-74f8-4c8d-a451-e8207c7dbc6a&autoAuth=true&ctid=687f51c3-0c5d-4905-84f8-97c683a5b9d1&actionBarEnabled=true"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  } @case ('/user-awareness') {
  <h2>User Awareness & Behavior</h2>
  <iframe
    title="User Awareness & Behavior"
    style="width: 100%; height: 80vh"
    src="https://app.powerbi.com/reportEmbed?reportId=06dcd92d-d994-4b93-9cfe-ef8b583e97f8&appId=dffef4a0-74f8-4c8d-a451-e8207c7dbc6a&autoAuth=true&ctid=687f51c3-0c5d-4905-84f8-97c683a5b9d1&actionBarEnabled=true"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  } @default {
  <h2>SCT Dashboard</h2>
  <iframe
    title="Cyber Posture Reporting"
    style="width: 100%; height: 80vh"
    src="https://app.powerbi.com/reportEmbed?reportId=0ae83b87-77af-4db8-9f60-137f062af501&appId=dffef4a0-74f8-4c8d-a451-e8207c7dbc6a&autoAuth=true&ctid=687f51c3-0c5d-4905-84f8-97c683a5b9d1&actionBarEnabled=true"
    frameborder="0"
    allowFullScreen="true"
  ></iframe>
  } }
</div>
